td, body
{
	background-color: rgb(206, 206, 206);
}
.container
{
	margin-top: 5% !important;
}
.btn, tbody
{
	font-size: 12px;
}
thead tr 
{
	font-size: 14px;
}
img
{
	width: 50%;
	margin-left: 37%;
}
h5, h6
{
	font-weight: bold;
}
.fields
{
	text-decoration: underline; 
}
